@CHARSET "UTF-8";

#msg{
	width: 100%;
	border: 1px solid red;
	margin-top: 20px;
	opacity: 0.9;
	background-color: #ffdbdb;
	padding: 5px 5px;
	font: normal 13px sans-serif;
	color: red;
}

.container{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: bock;
	margin: auto;
    width: 380px;
    height: 470px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 25px;
    background-color: white;
}