@CHARSET "UTF-8";

.form{
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
	width: 700px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 15px;
	background-color: white;
	visibility: visible;
}

#form1{
	visibility: visible;
	width: 700px;
	height: 300px;
}

#form2{
	visibility: hidden;
	width: 700px;
	height: 300px;
}

#form3{
	visibility: hidden;
	width: 750px;
	height: 600px;
}

#form4{
	visibility: hidden;
	width: 750px;
	height: 300px;
}

#form5{
	visibility: hidden;
	width: 750px;
	height: 300px;
}

.pagination li{
	display: inlineblock;
	padding: 5px 10px;
	border: 1px dotted gray;
	background-color: white;
	color: black;
}


